name: Benchmark Go (PR)

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  benchmark:
    name: Performance regression check
    runs-on: ubuntu-latest
    permissions:
      # allow posting comments to pull request
      pull-requests: write

    steps:
      - name: Fetch Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Run benchmark
        run: set -o pipefail; go test ./... -benchmem -run=^$ -bench . | tee output.txt

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          tool: 'go'
          output-file-path: output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: false
          alert-threshold: "150%"
          fail-on-alert: false # Don't make red crosses on the PR, it's almost certainly a false positive currently
          comment-on-alert: true # notify on PR if alert triggers
          summary-always: true # always comment on PRs to leave job summary
