name: generatedfiles

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  generatedfiles_job:
    runs-on: ubuntu-latest
    name: Regenerate derived files
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Regenerate the log test data
        run: ./testdata/build_log.sh
      - name: Confirm there are no diffs
        run: git diff --exit-code
