name: generatedfiles

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  generatedfiles_job:
    runs-on: ubuntu-latest
    name: Regenerate derived files
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Regenerate the log test data
        run: ./testdata/build_log.sh
      - name: Confirm there are no diffs
        run: git diff --exit-code
