name: generatedfiles

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  generatedfiles_job:
    runs-on: ubuntu-latest
    name: Regenerate derived files
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Regenerate the log test data
        run: ./testdata/build_log.sh
      - name: Confirm there are no diffs
        run: git diff --exit-code
